@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.fs-1,
.fs-2,
.fs-3,
.fs-4,
.fs-5,
.fs-6 {
    font-family: "Poppins", sans-serif !important;
}

.bg-button {
    background-color: #5d57f4;
}

.bg-color {
    background-color: #f7f6fe;
}

.hover {
    cursor: pointer;
    transition: .2s all linear;
}

.hover:hover {
    color: #5d57f4;
}

.inovation-btn {
    width: 230px;
    padding: 20px;
}

.circle-icon {
    height: 24px;
    width: 24px;
    background-color: #d9d6fc;
}

.font-14 {
    font-size: 14px;
}

.p-t-100 {
    padding: 100px 0;
}

.font-18 {
    font-size: 18px;
}

.hover-img {
    transition: .2s all linear;
    cursor: pointer;
}

.hover-img:hover {
    transform: translateY(-5px);
}

.bg-circle1 {
    height: 60px;
    aspect-ratio: 1;
    background-color: #eeeefd;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none !important;
}

.acc .accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.acc .accordion-button {
    font-weight: 700;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}

.color-main {
    color: #5d57f4;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #5d57f4;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-title h2:before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background:
        color-mix(in srgb, #212529, transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}

.service-item {
    background-color: #fff;
    border-radius: 12px;
    padding: 2rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
    transition: all 0.4s ease;
    cursor: pointer;
}

.service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 3px solid transparent;
    transition: border-color .5s ease;
}

.service-link {
    transition: .3s linear all;
}

.service-item:hover .service-link {
    letter-spacing: 2px;
}

.service-item:hover::after {
    border-color: #574dcf;
}

.service-item:hover .service-icon {
    transform: scaleX(-1);
    background-color: #574dcf;
    color: white !important;
}

.service-icon1 {
    color: #574dcf;
}

.service-item:hover .service-icon1 {
    background-color: #574dcf;
    color: white !important;
}

.hover-text {
    transition: .3s all linear;
}

.service-item:hover .hover-text {
    color: #574dcf;
}

.service-icon {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 12px;
    background-color:
        color-mix(in srgb, #5d57f4, transparent 90%);
    color: #5d57f4;
    margin-right: 1.5rem;
    transition: all 0.5s ease;
}

.service-icon1 {
    height: 80px;
    width: 80px;
    border: 1px solid #5d57f4;
    border-radius: 50%;
}

.cta-pattern {
    position: absolute;
    width: 80%;
    height: 80%;
    bottom: -30px;
    right: -30px;
    background: repeating-linear-gradient(45deg,
            color-mix(in srgb, #5d57f4, transparent 98%),
            color-mix(in srgb, #5d57f4, transparent 98%) 10px,
            color-mix(in srgb, #5d57f4, transparent 95%) 10px,
            color-mix(in srgb, #5d57f4, transparent 95%) 20px);
    z-index: 1;
    border-radius: 1rem;
}

.cta-image-wrapper img {
    transform: scaleX(-1);
}

.bg-btn {
    border: 1px solid #5d57f4;
    transition: .3s all linear;
    color: #5d57f4;
}

.bg-btn:hover {
    background-color: #5d57f4 !important;
    color: white;
}

.faq-contact-card {
    background: linear-gradient(135deg, #5d57f4,
            color-mix(in srgb, #5d57f4, #32353a 30%));
    padding: 40px 30px;
}

.contact-option {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 15px 20px;
    transition: all 0.3s ease;
}

.faq-item {
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.testimonial-profile {
    background-color:
        color-mix(in srgb, #32353a, transparent 95%) !important;
    border-top: 1px solid color-mix(in srgb, #32353a, transparent 90%);
}

.color-yellow {
    color: #ffc106;
}

.line-height {
    line-height: 1.7 !important;
}

.form-icon-box {
    width: 50px;
    background-color: #f8f8fb;
    border-right: 1px solid #ddd;
    color: #6c63ff;
}

.btn-submit {
    background-color: #6c63ff !important;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #574dcf;
}

.footer a {
    color: #212529 !important;
    text-decoration: none;
    line-height: 2;
}

.footer a:hover {
    color: #5d57f4 !important;
}

.social-icon {
    color: #212529;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icon:hover {
    color: #5d57f4 !important;
    border-color: #5d57f4;
}

.work-steps-section {
    padding: 80px 0;
}

.section-subtitle {
    color: #666;
    font-size: 16px;
    margin-bottom: 40px;
}

.step-card {
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(93, 93, 255, 0.05);
    background: #5d57f4;
    position: relative;
}

.step-number {
    position: absolute;
    left: -30px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(93, 93, 255, 0.2);
}

.step-icon {
    width: 70px;
    height: 70px;
    background-color: #5d5dff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-right: 20px;
    transition: .2s all linear;
}

.icon-inner {
    font-size: 24px;
}

.step-title {
    font-weight: 600;
    margin-bottom: 5px;
}

.step-description {
    color: #555;
    font-size: 15px;
}

.hover-btn {
    transition: .3s all linear;
}

.hover-btn:hover {
    background-color: #5c57f4a2;
    transform: translateY(-3px);
}

.hover-title {
    transition: .3s all linear;
    cursor: pointer;
}

.hover-title:hover {
    background-color: #807ddd;
    margin-left: 5px;
}

.hover-learn {
    transition: .3s all linear;
    background-color: #574dcf;
}

.test-section .mySwiper {
    position: relative;
    padding-bottom: 60px;
}

.test-section .mySwiper .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.swiper-pagination-bullet {
    background-color: #5d57f4 !important
}

.process-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
}

.content {
    width: 100%;
    position: relative;
    background: linear-gradient(145deg,
            color-mix(in srgb, #5d57f4, transparent 95%), #fff);
    border: 2px solid color-mix(in srgb, #5d57f4, transparent 85%);
    border-radius: 20px;
    cursor: pointer;
    transition: .2s all linear, box-shadow 0.3s ease;
}
.content:hover{
    background: white !important;
    margin-left: 5px;
}
.content:hover .step-icon{
     transform: rotate(30deg);
}
.content:hover .step-number{
    top: 70%;
    opacity: 1;
}

.step-number {
    position: absolute;
    left: -50px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 4.5rem;
    font-weight: 800;
    color: #5d57f4;
    font-family: "Poppins", sans-serif !important;
    line-height: 1;
    opacity: 0.2;
    transition: .2s all linear, opacity 0.3s ease;
}
.portfolio-item {
    position: relative;
}
.portfolio-info {
    position: absolute;
    bottom: 0;
    left: 50px;
    background-color: #fff;
    visibility: hidden;
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

.portfolio-item:hover .portfolio-info {
    bottom: 30px;
    visibility: visible;
}
.pointer{
    cursor: pointer;
}
