.bg-button{
    background-color: #5d57f4;
}
.bg-color{
    background-color: #f7f6fe;
}
.hover{
    cursor: pointer;
    transition: .2s all linear;
}
.hover:hover{
    color: #5d57f4;
}
.inovation-btn{
    width: 200px;
    padding: 20px;
}
.circle-icon{
    height: 24px;
    width:24px;
    background-color: #d9d6fc;
}
.font-14{
    font-size: 14px;
}
.p-t-100{
    padding-top: 100px;
}
.font-18{
    font-size: 18px;
}
.hover-img{
    transition: .2s all linear;
    cursor: pointer;
}
.hover-img:hover{
    transform: translateY(-5px);
}
.bg-circle1{
    height: 60px;
    aspect-ratio: 1;
    background-color: #eeeefd;
}
.color-main{
    color: #5d57f4;
}
